@import '../../assets/app.less';

.dap-ui-table {
    .vxe-table:not(.b--style-none) .vxe-table--header-wrapper {
        background-color: @white;
    }

    .vxe-pager .vxe-pager--num-btn.is--active {
        border: 1px solid @primary-color;
        border-radius: 4px;
    }

    .vxe-pager .vxe-pager--jump-next.is--active, .vxe-pager .vxe-pager--jump-next:hover, .vxe-pager .vxe-pager--jump-prev.is--active, .vxe-pager .vxe-pager--jump-prev:hover, .vxe-pager .vxe-pager--next-btn.is--active, .vxe-pager .vxe-pager--next-btn:hover, .vxe-pager .vxe-pager--num-btn.is--active, .vxe-pager .vxe-pager--num-btn:hover, .vxe-pager .vxe-pager--prev-btn.is--active, .vxe-pager .vxe-pager--prev-btn:hover {
        color: @primary-color;
    }

    .vxe-pager .vxe-pager--jump .vxe-pager--goto:focus {
        border: 1px solid @primary-color;
    }

    .vxe-pager .vxe-pager--sizes.is--active {
        border: 1px solid @primary-color;
    }

    .vxe-pager-size--select-wrapper .vxe-pager-size--select .size--option.is--active {
        color: @primary-color;
    }

    .vxe-pager-size--select-wrapper .vxe-pager-size--select {
        border: 1px solid @primary-color;
    }

    .vxe-table .vxe-cell--checkbox.is--checked:before, .vxe-table .vxe-cell--checkbox.is--indeterminate:before {
        border-color: @primary-color !important;
        background-color: @primary-color !important;
    }

    .vxe-table .vxe-cell--checkbox:not(.is--disabled):hover:before, .vxe-table .vxe-cell--radio:not(.is--disabled):hover:before {
        border-color: @primary-color;
    }

    .vxe-body--row:hover {
        background-color: @table-row-hover-bg !important;
    }

    .vxe-pager .vxe-pager--num-btn {
        font-weight: normal;
    }

    .vxe-header--column {
        color: @heading-color;
        font-weight: 500;
    }

    .vxe-table .vxe-sort-wrapper .vxe-sort--asc-btn.sort--active, .vxe-table .vxe-sort-wrapper .vxe-sort--desc-btn.sort--active {
        color: @primary-color;
    }

    .vxe-body--column, .vxe-footer--column {
        color: #333;
    }

    .vxe-table.size--mini {
        font-size: 13px;
    }

    .vxe-cell {
        .required {
            &::before {
                content: '*';
                color: #F00;
                font-size: 1rem;
                font-weight: 500;
                position: relative;
                left: -2px;
                top: 4px;
            }
        }
        .seq-header {
            cursor: pointer;
            .vxe-cell--checkbox {
                left: 3px;
            }
        }

        .seq-cell {
            cursor: pointer;
            .vxe-cell--checkbox {
                top: -3px;
                left: 3px;
                visibility: hidden;
                position: absolute;
            }
    
            &:hover {
                .vxe-cell--checkbox {
                    visibility: visible;
                    position: relative;
                }
                .seq {
                    display: none;
                }
            }
    
            &.checked {
                .seq {
                    display: none;
                }
                .vxe-cell--checkbox {
                    visibility: visible;
                    position: relative;
                }
            }
        }
    }

    .vxe-table .vxe-cell--checkbox, .vxe-table .vxe-cell--radio {
        position: relative;
        padding-left: 1.8em;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
    }

    .vxe-table .vxe-cell--checkbox:before, .vxe-table .vxe-cell--radio:before {
        content: "";
        position: absolute;
        height: 1.2em;
        width: 1.2em;
        top: 0;
        left: 0;
        border: 2px solid #d9d9d9;
        background-color: @white;
    }

    .vxe-table .vxe-cell--checkbox:before {
        border-radius: .2em;
    }

    .vxe-table .vxe-cell--checkbox.is--checked:after, .vxe-table .vxe-cell--checkbox.is--indeterminate:after {
        content: "";
        position: absolute;
    }

    .vxe-table .vxe-cell--checkbox.is--indeterminate:after {
        top: 0.53em;
        left: 1px;
        height: 0.20em;
        width: 1em;
        background-color: @white;
        transform: scale(0.6);
    }

    .vxe-table .vxe-cell--checkbox.is--checked:after {
        height: .7em;
        width: .34em;
        top: .2em;
        left: .44em;
        border: 2px solid #fff;
        border-left: 0;
        border-top: 0;
        transform: rotate(45deg);
    }

    .vxe-table .vxe-cell--checkbox.is--checked, .vxe-table .vxe-cell--checkbox.is--indeterminate {
        color: @primary-color;
    }
}
