.dap-ui-modal {
    &.dap-ui-lov-modal {
        .lov-choose-block {
            width: 100%;
            min-height: 70%;
            flex: 1;
            .ant-input-search {
                margin-bottom: 1rem;
            }
        }
        .ant-modal-body {
            display: flex;
            flex-flow: column;
        }
    }
}
